ai_dream_journal/*
ai_dream_journal/**
dream_frontend/*
dream_frontend/node_modules/*
dream_frontend/node_modules/**
venv/
venv/*
__pycache__/
__pycache__/*
*.pyc
*.db
*.sqlite
models/
models/*
.huggingface/
.huggingface/*
.idea/
.vscode/
